# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [5]:
test1 = 'This is a test of the emergency text system,'
fileObj = open('test.txt','w')
fileObj.write(test1)

44

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2

In [6]:
fileObj2 = open('test.txt','r')
test2 = fileObj2.readline()
test2

'This is a test of the emergency text system,'

In [7]:
if test1==test2:
    print('Both are same')

Both are same

# 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [9]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [3]:
import sqlite3
connection = sqlite3.connect('books.db')
c = connection.cursor()
#c.execute('create table books(title varchar(20),author varchar(20), year int)')
connection.commit()

# 5. Read books.csv and insert its data into the book table.

In [4]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', connection, if_exists='append', index = False)

5

# 6. Select and print the title column from the book table in alphabetical order.

In [5]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

# 7. From the book table, select and print all columns in the order of publication.

In [6]:
c.execute('select title, author,year from books order by year')

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
import sqlalchemy
createengine = sqlalchemy.create_engine("sqlite:///books.db")
data = createengine.execute('select * from books')
for i in data:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis
input("Enter the number")
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

# 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)